/* latin
font-family: 'Lato', sans-serif;
font-family: 'Ubuntu Mono', monospace;
font-family: 'Ubuntu', sans-serif; */
/* latin-ext */
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(https://fonts.gstatic.com/s/courgette/v5/wEO_EBrAnc9BLjLQAUk1WPoK7Es.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(https://fonts.gstatic.com/s/courgette/v5/wEO_EBrAnc9BLjLQAUk1VvoK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI9w2_Gwft.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCp6KVjbNBYlgoKejZftVyPN4E.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCv6KVjbNBYlgoC1CzjsGyN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://fonts.gstatic.com/s/ubuntumono/v7/KFOjCneDtsqEr0keqCMhbCc6CsQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*multiple sections*/
html {
	font-size: 16px;
}

.container {
	font-family: 'Ubuntu', sans-serif;
  background-color: #d6f0f5;
  margin: 0;
}
h1, h2, p {
  text-align: center;
  color: white;
}
h1, h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: white;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.75rem;
}
ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}
li {
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}
li a:hover {
  color: #89357c;
  font-weight: bold;
}

/*Header Section*/
header {
  width: 100vw;
	display: flex;
  justify-content: center;
  align-items: center;
	height: 4rem;
	position: fixed;
	z-index: 1;
	background-color: #1a7b90;
	opacity: 0.9;
	border-bottom: 2px solid #3a3a3a;
}
.logo {
	flex-grow: 1;
	height: 3.5rem;
	padding-left: 1.5rem;
}
.logo img {
  height: 3rem;
  width: auto;
  transition: background-color 0.2s ease-in 0.1s;
}
.logo img:hover {
  background-color: #104956;
}
header nav {
	padding-right: 1.5rem;
}
nav span {
	padding-left: 1rem;
}
span a {
  color: #104956;
	font-weight: bold;
  font-size: 1.5rem;
  transition: color 0.2s ease-in 0.1s;
}
span a:hover {
	color: white;
}
nav input[type=text] {
  height: 1.5rem;
  font-size: 1.25rem;
}
nav input[type=text]:hover {
  background-color: #1a7b90;
  transition: 0.2s ease-in 0.1s;
}
.fa-bars {
  color: #104956;
  font-size: 1.5rem;
}
.fa-bars:hover {
  color: white;
  transition: 0.2s ease-in 0.1s;
}

/*Side Navigation*/
/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #104956;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s ease-in;
}
/* The navigation menu links */
.sidenav a {
  padding: 0.5rem 1rem 0.5rem 2rem;
  text-decoration: none;
  font-size: 1.5rem;
  color:  #c9b6c6;
  font-weight: bold;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  font-size: 2rem;
  color:  #491d43;
  font-weight: bold;
}
.sidenav span h1 {
  height: 4rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  background-color: #1a7b90;
  border-bottom: 2px solid #3a3a3a;
}

/*Banner*/
.banner {
  position: relative;
  margin-bottom: 4rem;
  top: 4rem;
  background-image: url('../../resources/images/Maori culture.JPG');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.banner h1 {
  color: #3a3a3a;
  font-size: 3.5rem;
  font-weight: bold;
}
.banner h2 {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 22rem;
}
.banner p {
  font-family: 'Courgette', sans-serif;
  font-size: 2rem;
  padding: 1.5rem 0 0.5rem 0;
  width: 40%;
}
.banner .button {
  font-size: 1.5rem;
  color: #3a3a3a;
  background-color: #1a7b90;
  cursor: pointer;
  margin-top: 2rem;
  padding: 1.5rem;
  transition: background-color 0.3s ease-in 0.1s, color 0.3s ease-in 0.1s;
}
.banner .button:hover {
  background-color: #89357c;
  color: #f4f4f4;
}

/*Grid Container*/
.grid {
  display: grid;
  grid-template: 35vh 25vh 25vh 12vh 12vh / repeat(12, 1fr);
  padding: 1rem;
}

/*Centre and Agency Grid*/
.centre {
  grid-column: 1 / span 6;
}
.agency {
  grid-column: 7 / span 6;
}
.centre, .agency {
  margin: 1rem 0.5rem 1.5rem 0.5rem;

}
/*Information Grid*/
.WLS {
  grid-column: 1 / span 4;
}
.NC {
  grid-column: 5 / span 4;
}
.hours {
  grid-column: 9 / span 4;
}
.communication {
  grid-column: 1 / span 4;
}
.risk {
  grid-column: 5 / span 4;
}
.safety {
  grid-column: 9 / span 4;
}

/*Qucik Links Grid*/
.MH {
  grid-column: 1 / span 4;
  grid-row: 4 / span 2;
}
.AD {
  grid-column: 5 / span 4;
  grid-row: 4 / span 2;
}
.maps {
  grid-column: 9 / span 2;
}
.address {
  grid-column: 11 / span 2;
}
.EM {
  grid-column: 9 / span 2;
}
.path {
  grid-column: 11 / span 2;
}

/*Centre and Agency Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.dropdown .dropbtn {
  background-color: #89357c;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
  transition: background-color 0.5s ease-in, width 0.8s linear, font-size 0.8s ease-in;
}
.dropdown:hover .dropbtn  {
  background-color: #5f9637;
  width: 50%;
  font-size: 1.5rem;
}
.dropdown .links  {
  display: flex;
  flex-direction: column;
  background-color: #c9b6c6;
  color: black;
  position: absolute;
  top: 0;
  left: 100%;
  width: 48%;
  height: 100%;
  transition: 0.8s linear;
}
.dropdown:hover .links {
  left: 52%;
}

.links a {
  padding: 12px 16px;
  transition: background-color 0.1s ease-in, color 0.3s ease-in, font-weight 0.3s ease-in, font-size 0.3s ease-in;
}
.links a:hover {
  background-color: #795a74;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

/*Information Section Dropdown*/
.card {
  position: relative;
  display: inline-block;
}
.WLS.card, .NC.card, .hours.card {
  margin: 0.5rem;
}
.communication.card, .risk.card, .safety.card {
  margin: 0.5rem;
}
.card button {
  padding-top: 1.25rem;
}
.dropbtn img {
  width: 4rem;
}
.card .dropbtn {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height:100%;
  background-color: #2b96ab;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in 0.1s;
}
.card i {
  font-size: 3rem;
}

.card:hover .dropbtn{
  background-color: #3e8e41;
  transform: scale(1.02);
  box-shadow: 8px 10px 5px rgba(0,0,0,0.6);
}

.list {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  position: absolute;
  top: 3.2rem;
  left: 37%;
  width: 26%;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  z-index: 1;
  background-color: #2b96ab;
  transition: all 0.3s ease-in 0.1s;
}
.card:hover .list {
  visibility: visible;
  background-color: #3e8e41;
}

.list:hover {
  box-shadow: 6px 6px 2px rgba(0,0,0,0.5);
  transform: scale(1.01);
}
.list a {
  color: white;
  padding: 0.25rem;
  transition: background-color 0.1s ease-in, color 0.3s ease-in, font-weight 0.3s ease-in, font-size 0.3s ease-in;
}
.list a:hover {
  background-color: #2b96ab;
  color: #89357c;
  font-weight: bold;
  font-size: 1.1rem;
}
.card i {
  padding-top: 1.5rem;
  transition: all 0.1s ease-out;
}
.card:hover i {
  display: none;
}

/*Quick Links Buttons*/
.maps, .address {
  margin: 1.5rem 0.5rem 0.25rem 0.5rem;
  color: white;
  background-color: #5f9637;
}
.EM, .path {
  margin: 0.25rem 0.5rem 1.5rem 0.5rem;
  color: white;
  background-color: #5f9637;
  border: 1px solid orange;
}
.maps, .address, .EM, .path {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  transition: all 0.3s ease-in-out 0.1s;
}
.maps:hover, .address:hover, .EM:hover, .path:hover{
  font-size: 1.2rem;
  transform: scale(1.01);
  box-shadow: 6px 6px 2px rgba(0,0,0,0.5);
}
.ql i, .ql a {
  padding: 1.5rem;
}

.AD {
  display: flex;
  margin: 1.5rem 0.5rem 1.5rem 0.5rem;
  transition: all 0.3s ease-in-out 0.1s;
}

.MH  {
  margin: 1.5rem 0.5rem 1.5rem 0.5rem;
  transition: all 0.3s ease-in-out 0.1s;
}
.MH img {
  width: 100%;
  height:100%;
  overflow: hidden;
}
.AD img {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.AD:hover, .MH:hover {
  font-weight: bold;
  transform: scale(1.01);
  box-shadow: 6px 6px 2px rgba(0,0,0,0.5);
}
