/* latin
font-family: 'Lato', sans-serif;
font-family: 'Ubuntu Mono', monospace;
font-family: 'Ubuntu', sans-serif; */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI9w2_Gwft.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCp6KVjbNBYlgoKejZftVyPN4E.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCv6KVjbNBYlgoC1CzjsGyN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://fonts.gstatic.com/s/ubuntumono/v7/KFOjCneDtsqEr0keqCMhbCc6CsQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*multiple sections*/
html {
	font-size: 16px;
}
.container {
	font-family: 'Ubuntu', sans-serif;
  background-color: #e0e0d1;
}
h1, h2, p {
  text-align: center;
  color: white;
}

/*Header Section*/
header {
	display: flex;
  justify-content: center;
  align-items: center;
	height: 4rem;
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: #1a7b90;
	opacity: 0.8;
	border-bottom: 2px solid #3a3a3a;
}
.logo {
	flex-grow: 1;
	height: 3.5rem;
	padding-left: 1.5rem;
}
.logo img {
  height: 3rem;
  width: auto;
}
header nav {
	padding-right: 1.5rem;
}
nav span {
	padding-left: 1rem;
}
span a {
  color: white;
	font-weight: bold;
  font-size: 1.5rem;
}
span a:hover {
	color: #89357c;
}

/*Banner*/
.banner {
  position: relative;
	top: 4rem;
  margin-bottom: 4rem;
	border-bottom: 2px solid #3a3a3a;
  background-image: url('../../Resources/images/Community Work Central pic.png');
  min-height: 350px;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner h1 {
  font-size: 3.5rem;
  font-weight: bold;
  padding: 3rem 0 0.25rem 0;
}
.banner h2 {
  font-size: 2.5rem;
  padding: 0.25rem 0 0.5rem 0;
}
.banner p {
  font-size: 2rem;
  padding: 0.25rem 0 1rem 0;
}
.banner .button {
  font-size: 1.5rem;
  color: #3a3a3a;
  background-color: #1a7b90;
  cursor: pointer;
  margin-top: 2rem;
  padding: 1.5rem;
}
.banner .button:hover {
  background-color: #89357c;
  color: #f4f4f4;
}

/*Centre and Agency Section*/
.process {
  display: flex;
  padding: 1rem;
}
.centre, .agency {
  width: 50%;
  margin: 0.5rem 1rem 1rem 1rem;
}
.dropdown .dropbtn {
  background-color: #89357c;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  height: 12rem;
  margin-bottom: 1rem;
}
.dropdown .links {
  display: none;
  position: absolute;
  top: -0.5rem;
  left: 50%;
  background-color: #c9b6c6;
  width: 50%;
  height: 100%;
  z-index: 1;
}
.links a {
  color: black;
  padding: 12px 16px;
}
.links a:hover {
  background-color: #795a74;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
.dropdown:hover .links {
  display: flex;
  flex-direction: column;
}
.dropdown:hover .dropbtn {
  background-color: #5f9637;
  width: 50%;
}

/*Information Section*/
.top-section, .bottom-section {
  display: flex;
  height: 12rem;
  padding: 1rem;
}
.top-section div, .bottom-section div {
  width: 33.33%;
}
.top-section button, .bottom-section button {
  width: 100%;
  height: 100%;
}
.card .dropbtn {
  background-color: #2b96ab;
  color: white;
  font-size: 1.5rem;
  padding: 2rem 1.5rem 8rem 1.5rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
}
.card {
  position: relative;
  display: inline-block;
  margin: 0.5rem 1rem 1rem 1rem;
}
.list {
  display: none;
  position: absolute;
  top: 4rem;
  left: 33.33%;
  background-color: #3e8e41;
  width: 100%;
  height: 60%;
  text-align: left;
}
.list a {
  color: white;
  padding: 0.5rem;
}
.list a:hover {
  background-color: #f4f4f4;
  color: #89357c;
  font-weight: bold;
  font-size: 1.2rem;
}
.card:hover .list {
  display: flex;
  flex-direction: column;
}
.card:hover .dropbtn {
  background-color: #3e8e41;
  transform: scale(1.02);
  box-shadow: 0px 10px 8px rgba(0,0,0,0.5);
}
i {
  position: absolute;
  left: 45%;
  top: 45%;
}

/*Quick Links Section*/
.quick-links {
  display: flex;
  height: 8rem;
}
.quick-links .button {
  width: 25%;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1.5rem;
  color: white;
  background-color: #5f9637;
  opacity: 0.8;
  margin: 1.75rem 2rem;
}
.quick-links .button:hover {
  transform: scale(1.02);
  opacity: 1;
  font-weight: bold;
  box-shadow: 0px 10px 8px rgba(0,0,0,0.5);
}
